{{define "layout"}}
<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{if eq .Head.Title "" | not }}{{ .Head.Title }} - {{end}}BrainTrain</title>

		<!-- Favicons -->
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
		<link rel="shortcut icon" type="image/x-icon" href="/static/favicons/favicon.ico">
		
		<!-- Styles -->
		<link rel="stylesheet" href="/static/css/bulma.css">
		<link rel="stylesheet" href="/static/css/simplemde-fork-fa5.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<link rel="stylesheet" href="/static/css/fonts.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		
		<!-- Scripts -->
		<script src="/static/js/simplemde-fork-fa5.min.js"></script>
		<script src="/static/js/app.js"></script>
	</head>
	<body>
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item is-size-5" href="/" id="logo">
					<div id="logo-wrapper">
						<img src="/static/images/Logo.svg" alt="Logo">
						<span class="has-text-weight-normal">Brain</span><span class="has-text-weight-light">Train</span>
					</div>
				</a>
				
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="topnav">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div class="navbar-menu" id="topnav">
				<div class="navbar-start">
					<div class="navbar-item is-hidden-touch" id="hide-side-nav">
						<i class="fa fa-bars"></i><i class="fa fa-bars"></i>
					</div>
					<div class="navbar-item is-hidden-desktop"><a href="/">Home</a></div>
					<div class="navbar-item is-hidden-desktop"><a href="/kartei/list">Karteikästen</a></div>
					{{if .Head.LoggedInStatus }}
					<div class="navbar-item is-hidden-desktop"><a href="/kartei/mine">Meine Karteikästen <span class="badge badge-darkGreen">{{.Head.CountKarteien}}</span></a></div>
					<div class="navbar-item is-hidden-desktop"><a href="/user/profile">Mein Profil</a></div>
					{{end}}
				</div>
				<div class="navbar-end">				
					{{if .Head.LoggedInStatus }}
						<div class="navbar-item"><a href="/kartei/learn" class="bt-button yellow-button bt-slim">Lernen</a></div>
						<div class="navbar-item"><a href="/kartei/new" class="bt-button yellow-button bt-slim">Neue Kartei</a></div>
						<div class="navbar-item"><div id="navbar-profile"><a href="/user/profile" class="has-text-weight-bold">{{.Head.User.Name}}</a><br /><a href="/user/logout">Logout</a></div></div>
						<div class="navbar-item picture-wrapper">
							<a href="/user/profile">
								<img id="navbar-profile-picture" src="{{.Head.User.AvatarUrl}}" onerror="if (this.src != '/static/images/defaultProfile.jpg') this.src = '/static/images/defaultProfile.jpg';" />
							</a>
						</div>
					{{ else }}
						<div class="navbar-item">
							<form action="/user/login" method="POST" id="navbar-login">
								<input type="text" name="username" placeholder="Nutzername" id="username" />
								<input type="password" name="password" placeholder="Passwort" id="password" />
								<input type="submit" value="Login" class="bt-button yellow-button bt-slim">
							</form>
						</div>
						<div class="navbar-item"><a href="/user/register" id="register-link">Registrieren</a></div>
					{{end}}
				</div>
			</div>
		</nav>

		<main class="columns mx-0" id="application">
			<!-- Linke Seite -->
			<div class="column is-3 is-hidden-touch" id="left-nav">
				<ul id="left-navigation">
					<a href="/">
						<li {{if eq .Head.NavActive "home" }}class="active"{{end}}>
							<img src="/static/images/Home.svg" /><span class="text">Home</span>
						</li>
					</a>
					<a href="/kartei/list">
						<li {{if eq .Head.NavActive "karteien" }}class="active"{{end}}>
							<img src="/static/images/Karteikasten.svg" /><span class="text">Karteikästen</span>
							<span class="badge badge-info">{{.Head.CountKarteien}}</span>
						</li>
					</a>
					{{if .Head.LoggedInStatus }}
					<a href="/kartei/mine">
						<li {{if eq .Head.NavActive "karteien-mine" }}class="active"{{end}}>
							<img src="/static/images/Meine-Karteien.svg" /><span class="text">Meine Karteikästen</span>
							<!-- <span class="badge badge-info">7</span> -->
						</li>
					</a>
					<a href="/user/profile">
						<li {{if eq .Head.NavActive "my-profile" }}class="active"{{end}}>
							<img src="/static/images/Mein-Profil.svg" /><span class="text">Mein Profil</span>
						</li>
					</a>
					{{end}}
				</ul>
			</div>

			<!-- Rechte Seite -->
			<div class="column" id="right-column">
				<!-- Start of Main Content -->
				<section class="main-content">
					{{template "body" .}}
				</section>
				<!-- End of Main Content -->
			</div>
		</main>
	</body>
</html>
{{end}}