{{define "body"}}
{{if .LoginFailed}}
<div class="panel error-yellow">
	<p class="is-size-5">Der Login war nicht erfolgreich. Sie können sich <a href="/user/register">hier</a> registrieren.</p>
</div>
{{end}}
{{if .NotLoggedIn}}
<div class="panel error-yellow">
	<p class="is-size-5">Für die angefragte Seite müssen Sie eingeloggt sein. Alternativ können Sie sich <a href="/user/register">hier</a> registrieren.</p>
</div>
{{end}}
{{if .RegisterSuccess}}
<div class="panel error-green">
	<p class="is-size-5">Erfolgreich registriert. Bitte oben einloggen.</p>
</div>
{{end}}


<div id="home" class="panel has-text-centered">
	<section class="hero">
		<div class="hero-body">
			<h1 class="title is-size-1">
				Willkommen bei <span class="color-darkGreen">Brain</span><span class="color-lightGreen">Train</span>
			</h1>

			<p class="subtitle is-size-3">
				Hier ha{{if eq .CountUsers 1}}t{{else}}ben{{end}} sich <b>{{.CountUsers}}&nbsp;Nutzer</b> angemeldet und {{if gt .CountUsers 1}}zusammen{{end}}
				<b>{{.CountKarten }}&nbsp;Lernkarten</b> in <b>{{.CountKarteien}}&nbsp;Karteien</b> erstellt.
			</p>
			
		</div>
	</section>
</div>
{{ end }}
