/** Variables **/
:root {
--primaryBlack: #212121;
--grey: #ecf0f1;
--white: #fff;
--pastellGreen: #65c97a;
--lightGreen: #2ecc71;
--darkGreen: #27ae60;
--lightYellow: #fed330;
--darkYellow: #f7b731;
--pastellBlue: #34495e;
--darkBlue: #2c3e50;
--tomatoRed: #e74c3c;
--darkRed: #c0392b;
}

/** body **/
html, body {
  
  height: 100%;
  width: 100%;
  margin: 0;

  color: var(--primaryBlack);
  background-color: var(--grey);
  font-family: Roboto, Arial, sans-serif;
}
.clearfix {
  clear: both;
}
.is-hidden {
  display: none;
}
a h4 {
  color: var(--primaryBlack);
}

/* MAIN Layout */

main#application {
  width: 100%;
  height: calc(100% - 3.25rem); /* Full, but for the navbar */
  margin: 0;
}

/* Sticky navigations */
@media (min-width: 1088px) {
  .navbar {
    position: fixed;
    width: 100%;
  }

  main {
    padding-top: 3.25rem;
  }

  div#left-nav {
    position: fixed;
  }
  div#right-column {
    margin-left: 25%;
  }
  div#left-nav.is-hidden + div#right-column {
    margin-left: 0;
  }
}

/* Top Navigation */
@media (min-width: 1088px) {
  .navbar-brand {
    width: 25%;
  }
  a#logo {
    width: 100%;
  }
}

#topnav {
  background-color: var(--lightGreen);
}
.navbar-brand {
  background-color: var(--darkGreen);
}
.navbar-item, .navbar-burger {
  color: var(--white);
}

/* Navbar left icon */
a#logo {
  text-align: center;
}
a#logo:hover {
  color: var(--white);
}
#logo #logo-wrapper {
  margin: 0 auto;
}
#logo img {
  height: 2.5rem;
  margin-right: .5rem;
  vertical-align: bottom;
}
.navbar-item span.badge {
  background-color: var(--darkGreen);
  float: right;
}

.navbar-item > div > a, .navbar-item > a { color: var(--white); }
.navbar-item > div > a:hover, .navbar-item > a:hover { color: var(--grey); }

/* Navbar right side */
#navbar-login #username, #navbar-login #password {
  padding: 2px 5px;
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  font-style: italic;
}

#navbar-login input { margin: 0 .75rem; }
#navbar-login input:first-child { margin-left: 0; }
#navbar-login input:last-child { margin-right: 0; }
#register-link {margin-right: 1.5rem; }

#navbar-profile {
  text-align: right;
  line-height: 1;
}
.navbar-item.picture-wrapper {
  text-align: right;
}
#navbar-profile-picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  max-height: 1000px;
}

@media screen and (max-width: 540px) {
  #navbar-login input#username, #navbar-login input#password, #navbar-login input[type="submit"] { width: 100%; margin: .5rem 0; padding: .5rem .75rem;}
}

/* Left Navigation */
#left-nav {
  height: 100%;
  background-color: var(--darkBlue);
  color: var(--white);
  margin: 0;
  padding: 0;
}

ul#left-navigation {
  padding: 5rem 0 0;
}
ul#left-navigation li {
  list-style-type: none;
  display: block;
  clear: both;
  line-height: 2.5rem;
  padding: 1rem;
  
  transition: all 300ms ease;
}
ul#left-navigation li.active, ul#left-navigation li:hover {
  background-color: var(--pastellBlue);
}
ul#left-navigation li img {
  padding-right: 1rem;
  height: 2.5rem;
  vertical-align: bottom;
}
ul#left-navigation li span {
  color: var(--white);
}
ul#left-navigation li span.badge {
  float: right;
  background-color: var(--pastellGreen);
}

.customTopbar {
  background-color: var(--darkGreen);
  height: 3rem;
  color: var(--white);
}
.customTopbar#navigation {
  background-color: var(--lightGreen);
}

section.main-content {
  margin: 3rem 0 0;
}
section.main-content > :first-child {
  margin-top: 0;
}

section.main-content .panel {
  background: var(--white);
  border-top: .5rem solid var(--darkGreen);
  padding: 1rem;
  border-radius: .2em;
}

.columns.mx-0 {
  margin-left: 0;
  margin-right: 0;
} 

/* Badges */
.badge {
padding: 0px 10px;
border-radius: 20px;
font-size: .8em;
line-height: 2rem;
margin-top: .25rem;
}

/* Buttons */
.bt-button {
  font-weight: bolder;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 0;
  transition: all 200ms ease;
}
.bt-button.bt-slim {
  padding: 5px 15px;
  border-bottom-width: .2rem !important;
  font-size: 1rem;
}
#profile .bt-slim.delete-button {
    height: auto;
}
.bt-button.yellow-button {
  background-color: var(--lightYellow);
  border-bottom: .5rem solid var(--darkYellow);
  color: var(--white);
}
.bt-button.yellow-button:hover {
  background-color: var(--darkYellow);
}
.bt-button.red-button {
  background-color: var(--tomatoRed);
  border-bottom: .5rem solid var(--darkRed);
  color: var(--white);
}
.bt-button.red-button:hover {
  background-color: var(--darkRed);
}
.bt-button.pastellGreen-button {
  background-color: var(--pastellGreen);
  border-bottom: .5rem solid var(--darkGreen);
  color: var(--white);
}
.bt-button.pastellGreen-button:hover {
  background-color: var(--darkGreen);
}

.delete-button {
  background-color: var(--tomatoRed);
  color: var(--white);
  height: calc(1.5rem + 7px);
  padding: 0 .5rem;
  display: inline-block;
  vertical-align: middle;
}
.delete-button:hover {
  background-color: var(--darkRed);
}
.delete-button > img {
  height: 80%;
  vertical-align: text-top;
}

/* Home */
.panel#home {
  margin-top: 5rem;
}

/* Register */
.panel#register > p {
  margin-bottom: 1em;
}
.panel#register hr {
  width: 60%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.panel#register .badge {
  white-space: normal;
  text-align: left;
  padding: .4rem .8rem;
}

/* Kartei */
.kartei .card-image {
  background-color: var(--darkGreen);
  color: var(--white);
}
.kartei h4 {
  margin-bottom: 1em;
  font-weight: bold;
}
.kartei .card-content {
  padding-bottom: 0;
}
.kartei .button-wrapper {
  text-align: center;
  padding : 1rem 0;
  margin: 0 -1rem;
  clear: both;
}

/* Hexagons */
.hex:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 10px solid var(--darkGreen);
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  position: absolute;
  top: -10px;
}

.hex {
  width: 41px;
  height: 38px;
  background-color: var(--darkGreen);
  position: relative;
  float: right;
}
.card .hex {
  margin-left: 1rem;
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -10px;
  left: 0px;
  border-top: 10px solid var(--darkGreen);
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
}

.hex span.text {
  font-weight: bold;
  color: var(--white);
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  width: 42px;
  position: relative;
  height: 40px;
}
.hex span.below {
  font-size: 10px;
  position: relative;
  top: -5px;
}

.hex.no-subhead {
  height: 20px;
  width: 29px;
  margin-left: 15px;
}
.hex.no-subhead::before {
  border-bottom: 8px solid var(--darkGreen);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: -8px;
}

.hex.no-subhead::after {
  bottom: -8px;
  border-top: 8px solid var(--darkGreen);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.hex.no-subhead span.text {
  width: 30px;
  height: 18px;
  line-height: 18px;
}
.hex.passive {
  background-color: var(--darkBlue);
}
.hex.passive::before {
  border-bottom-color: var(--darkBlue);
}
.hex.passive::after {
  border-top-color: var(--darkBlue);
}

/* Statistics Table */
.statistics-table {
  width: 100%;
}
.statistics-table td {
  width: 60%;
}

/* Karteikasten / Form */
.edit-form {
  margin-top: 1rem;
}
.field .select, .field .select select {
  width: 100%;
}
.CodeMirror, .CodeMirror-scroll {
	min-height: 200px;
}

/* Kartei/view und Kartei/editKarten */
section.main-content .card-chooser.is-active {
  background-color: var(--darkGreen);
  color: var(--white);
}
section.main-content .card-chooser .modal {
  color: var(--primaryBlack);
}

section.main-content .card-detail { display: none; }
section.main-content .card-detail.is-active { display: block; }

/* Learning */

#leaderboard td {
  width: 2.5rem;
}
#leaderboard th {
  width: 7rem;
}
#answer-wrapper a#answer-button {
  margin: 2rem auto;
}
form:not(.show-answer) .show-revealed {
  display: none;
}
form.show-answer .show-unrevealed {
  display: none;
}
form.show-answer .show-revealed {
  display: block;
}
#learn-skip a {
  margin: 0 0 0 auto;
}

/* Profile */
#profile #profilepicture {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
#profile #title-name {
  padding-top: 1em;
}
#profile .delete-button {
  height: 3rem;
  vertical-align: middle;
}

/* Delete Modal */
.modal p {
  margin-bottom: 1rem;
}