{{define "body"}}
	<h2 class="is-size-3">Mein Profil</h2>
	<p>Hier kannst Du deine Profildaten aktualisieren oder ändern.</p>
	<div class="columns" id="profile">
		<div class="column is-one-third">
			<div class="panel has-text-centered">
				<img src="{{.Head.User.AvatarUrl}}" width="128" height="128" id="profilepicture" alt="Profilbild">
				<p><a href="#" class="bt-button yellow-button delete-button bt-slim" data-target="picture-edit-modal">Edit</a></p>
				<h3 id="title-name" class="is-size-4">{{.Head.User.Name}}</h3>
				<address>{{.Head.User.Email}}</address>
			</div>
			<div class="modal" id="picture-edit-modal">
				<div class="modal-background delete-stay"></div>
				<form action="/user/profile/uploadImage" method="POST" enctype="multipart/form-data" class="modal-content">
					<div class="panel">
						<h3 class="is-size-4">Profilbild bearbeiten</h3>
						<p>
							<div class="file">
								<label class="file-label">
									<input class="file-input" type="file" name="uploadfile" id="file">
									<span class="file-cta">
										<span class="file-icon">
											<i class="fas fa-upload"></i>
										</span>
										<span class="file-label">
											Choose a file…
										</span>
									</span>
									<span class="file-name is-hidden" id="filename">
										Screen Shot 2017-07-29 at 15.54.25.png
									</span>
								</label>
								<input type="submit" class="bt-button pastellGreen-button bt-slim is-hidden" id="upload-button" value="Hochladen" />
							</div>
						</p>
						<p id="file-not-image" class="hint is-danger is-hidden">Diese Datei scheint kein Bild zu sein.</p>

						<p>Stattdessen <a href="/user/profile/useGravatar">Gravatar verwenden.</a></p>
						<p class="clearfix"></p>
					</div>
				</form>
			</div>
			<div class="panel">
				<h3 class="is-size-4">Statistik</h3>
				<table class="statistics-table">
					<tr>
						<td>Erstellte Karten:</td>
						<th>{{.CountKarten}}</th>
					</tr>
					<tr>
						<td>Erstellte Karteien:</td>
						<th>{{.CountKarteien}}</th>
					</tr>
				</table>
			</div>
		</div>
		<div class="column is-two-thirds">
			<form action="#" method="POST" class="panel">
				<h3 class="is-size-4">Update der Profildaten</h3>
				
				<div class="field is-horizontal">
					<div class="field-label is-normal"><label for="email" class="label">Neue Email</label></div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<input type="text" id="email" name="email" value="{{.Head.User.Email}}" name="email" class="input" required />
							</div>
						{{if .ErrorEmail }}<p class="help is-danger">Diese E-Mail ist bereits vergeben!</p>{{ end }}
						</div>
					</div>
				</div>

				<hr>

				<div class="field is-horizontal">
					<div class="field-label is-normal"><label for="password-0" class="label">Altes Passwort</label></div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<input type="password" id="password-0" name="password-old" class="input" />
							</div>
						{{if .ErrorPasswordOld }}<p class="help is-danger">Das war nicht Dein altes Passwort!</p>{{ end }}
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal"><label for="password-1" class="label">Passwort</label></div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<input type="password" id="password-1" name="password-1" class="input" />
							</div>
						{{if .ErrorPasswordNotGoodEnough }} <p class="help is-danger">Dein Passwort riecht aus dem Mund. Such dir ein anderes.</p> {{ end }}
						{{if .ErrorPasswordNotChanged }}<p class="help is-danger">Das neue Passwort darf nicht mit dem Alten übereinstimmen!</p>{{ end }}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal"><label for="password-2" class="label">Passwort wiederholen</label></div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<input type="password" id="password-2" name="password-2" class="input" />
							</div>
						{{ if .ErrorPasswordNotMatching }}<p class="help is-danger">Die Passwörter stimmen nicht überein!</p>{{ end }}
						</div>
					</div>
				</div>

				<div class="field has-text-centered">
					<div class="col-sm-12">
						<input type="submit" class="yellow-button bt-button" value="Speichern" id="register">
						<a href="#" class="delete-button" id="delete-profile-button" data-target="deleteModal" ><img src="/static/images/Delete.svg" alt="Delete Button"></a>
					</div>
				</div>
			</form>

			<div class="modal" id="deleteModal">
				<div class="modal-background delete-stay"></div>
				<div class="modal-content">
					<div class="panel">
						<h3 class="is-size-4">Löschen</h3>
						<p>Bist Du Dir sicher, dass Du Dein Profil löschen möchtest?</p>
						<p class="has-text-centered">
							<a href="#" class="bt-button pastellGreen-button delete-stay" aria-label="close">Profil behalten</a>
							<a href="/user/delete/{{.Head.User.Id}}" class="bt-button red-button">Profil löschen</a>
						</p>
						<p class="clearfix"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}