{{define "body"}}
	<h2 class="is-size-3">Registrieren</h2>

	<div class="panel" id="register">
		<p>Wir freuen uns, dass du dich bei BrainTrain anmelden möchtest. Bitte beachte, dass <strong>pro E-Mail Adresse nur ein Nutzer</strong>
		erstellt werden kann und jeder <strong>Nutzername nur einmal vergeben</strong> wird.</p>


		{{if .ErrorGeneral}}<pre>{{.ErrorGeneral}}</pre>{{end}}

		<form action="/user/registerPost" method="POST">
			<div class="field is-horizontal">
				<div class="field-label is-normal"><label for="username" class="label">Nutzername</label></div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input type="text" id="username" name="username" value="{{.U.username}}" class="input" required />
						</div>
						
					{{if .ErrorUser }}<p class="help is-danger">{{.ErrorUser}}</p>{{end}}
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal"><label for="email" class="label">Email-Adresse</label></div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input type="text" id="email" placeholder="email@example.com" name="email" value="{{.U.email}}" class="input" required />
						</div>
						
					{{if .ErrorEmail }}<p class="help is-danger">{{.ErrorEmail}}</p>{{end}}
					</div>
				</div>
			</div>

			<hr>

			<div class="field is-horizontal">
				<div class="field-label is-normal"><label for="password-1" class="label">Passwort</label></div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input type="password" id="password-1" name="password-1" class="input" required />
						</div>
					{{if .ErrorPw}}
					<p class="help is-danger">{{.ErrorPw}}</p>
					{{end}}
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal"><label for="password-2" class="label">Passwort wiederholen</label></div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input type="password" id="password-2" name="password-2" class="input" required />
						</div>
					{{if .ErrorPw}}
					<p class="help is-danger">{{.ErrorPw}}</p>
					{{end}}
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal"></div>
				<div class="field-body">
					<label class="checkbox">
						<input type="checkbox" name="privacy" id="privacy" />
						Ich habe die nicht-vorhandene Datenschutz&shy;erklärung zur Kenntnis genommen.
					</label>
				</div>
			</div>

			<div class="field has-text-centered">
				<div class="col-sm-12"><input type="submit" class="yellow-button bt-button" value="Registrieren" id="register"></div>
			</div>
		</form>
	</div>
{{end}}