{{define "body"}}
	<h2 class="is-size-3">Karteikasten bearbeiten</h2>
	<p>Hier kannst Du neue Karten erstellen oder vorhandene Karten bearbeiten.</p>
	{{if .Info}}
	<p>{{.Info}}</p>
	{{else}}

	
	<div class="panel edit-form">
		<div class="columns is-vcentered is-multiline">
			<div class="column is-full-tablet is-one-quarter-desktop is-one-fifth-widescreen">Name<br><strong>{{.Kartei.Title}}</strong></div>
			<div class="column is-full-tablet is-one-quarter-desktop is-two-fifths-widescreen">Kategorie<br><strong>{{.Kartei.Category}}</strong></div>
			<div class="column is-one-half-tablet is-one-fifth-desktop is-one-fifth-widescreen">Fortschritt<br><strong>{{.Kartei.Progress}}%</strong></div>
			<div class="column is-one-half-tablet is-auto-desktop is-one-fifth-widescreen">
				<a href="/kartei/edit/{{.Kartei.Id}}" class="bt-button pastellGreen-button bt-slim">Bearbeiten</a>
				<div class="hex">
					<span class="text">{{.Kartei.CountKarten}}<br><span class="below">Karten</span></span>
				</div>
			</div>
		</div>
	</div>
	<div class="columns mx-0">
		<div class="column is-one-third-desktop is-one-half-tablet">
			
			{{range $i, $k := .Karten }}
			<div class="panel {{if eq $k.Id $.ActiveKarteId}}is-active{{end}} card-chooser" data-id="{{$k.Id}}">
				<div class="is-family-monospace">#{{$i}}</div>
				<div class="is-size-4 has-text-weight-semibold">{{$k.Title}}</div>
				{{ if ne $k.Id "-1"}}
				<div class="has-text-right">
					<a href="/kartei/editKarten/{{$k.Id}}" class="bt-button pastellGreen-button bt-slim">Bearbeiten</a>
					<a href="#" class="delete-button" data-target="deleteModal-{{$k.Id}}"><img src="/static/images/Delete.svg" alt="Delete Button"></a>
				</div>
				<div class="modal" id="deleteModal-{{$k.Id}}">
					<div class="modal-background delete-stay"></div>
					<div class="modal-content">
						<div class="panel">
							<h3 class="is-size-4">Löschen</h3>
							<p>Bist Du Dir sicher, dass Du diese Karte <code>{{$k.Id}}</code> löschen möchtest?</p>
							<p class="has-text-centered">
								<a href="#" class="bt-button pastellGreen-button delete-stay" aria-label="close">Karte behalten</a>
								<a href="/karte/delete/{{$k.Id}}" class="bt-button red-button">Karte löschen</a>
							</p>
							<p class="clearfix"></p>
						</div>
					</div>
				</div>
				{{ end }}
			</div>
			{{end}}
			
		</div>
		<div class="column is-two-thirds-desktop is-one-half-tablet">
			{{range $i, $k := .Karten}}
			<div class="panel {{if eq $k.Id $.ActiveKarteId}}is-active{{end}} card-detail" id="{{$k.Id}}">
				<!-- <pre>{{$k}}</pre> -->
				<form action="#">
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="title" class="label">Titel</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<input type="text" name="title" data-karte="{{$k.Id}}" class="input karte-input" value="{{ if ne $k.Id "-1"}}{{$k.Title}}{{end}}" />
								</div>
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="question" class="label">Frage</label>
						</div>
						<div class="field-body">
							<div class="field">
								<textarea name="question" id="question{{$k.Id}}" data-karte="{{$k.Id}}" class="karte-input simplemde">{{$k.QuestionMD}}</textarea>
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="answer" class="label">Antwort</label>
						</div>
						<div class="field-body">
							<div class="field">
								<textarea name="answer" id="answer{{$k.Id}}" data-karte="{{$k.Id}}" class="karte-input simplemde">{{$k.AnswerMD}}</textarea>
								{{$k.Answer}}
							</div>
						</div>
					</div>

					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="answer" class="label"></label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="has-text-centered">
									<input type="button" value="Speichern" data-id="{{$k.Id}}" class="karte-save-button bt-button pastellGreen-button" />
									<!-- <input type="button" value="Abbrechen" class="bt-button red-button" /> -->
								</div>
							</div>
						</div>
					</div>
					<div class="error-karte-save field bt-button red-button is-hidden" data-karte="{{$k.Id}}">Etwas ist schiefgelaufen. Bitte schau im Serverlog nach.</div>

				</form>
			</div>
			{{end}}
		</div>
	</div>

	{{end}}
{{end}}