{{define "body"}}
	{{if .NewData }}
	<h2 class="is-size-3">Neuer Karteikasten</h2>
	<p>Hier kannst Du eine neue Kartei erstellen.</p>
	{{else}}
	<h2 class="is-size-3">Karteikasten bearbeiten</h2>
	<p>Hier kannst Du eine Kartei bearbeiten.</p>
	{{end}}

	{{if .Info }}
	<p>{{.Info}}</p>
	{{else}}

	{{if .ErrorsList}}
	<pre>{{.ErrorsList}}</pre>
	{{end}}
	
	<div class="panel edit-form">
		<h3 class="is-size-4">Allgemeine Daten</h3>
		<form action="/kartei/{{if .NewData}}new{{else}}edit/{{.Kartei.Id}}{{end}}" method="POST">
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label for="title" class="label">Titel</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input type="text" id="title" name="title" class="input" value="{{.Kartei.Title}}" />
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label for="category" class="label">Kategorie</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control select">
							<select autocomplete="off" name="categoryId">
								<option {{if .NewData}}selected{{end}} disabled>Bitte auswählen...</option>
								{{range .CategoriesList}}
								<optgroup label="{{.Title}}">
									{{range .SecondLevel}}
									<option value="{{.Id}}" {{if eq $.Kartei.CategoryId .Id}}selected="selected"{{end}}>{{.Title}}</option>
									{{end}}
								</optgroup>
								{{end}}
							</select>
						</div>
						<p class="help has-text-warning">Pflichtfeld!</p>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label for="description" class="label">Beschreibung</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<textarea class="textarea" name="description" id="description">{{.Kartei.Description}}</textarea>
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal" style="padding-top: 0px;">
					<label for="public" class="label">Sichtbarkeit</label>
				</div>
				<div class="field-body">
					<div class="control">
						<label class="radio">
							<input type="radio" name="public" id="public" value="public" {{ if .Kartei.Public }}checked{{end}}> Öffentlich
						</label>
						<label class="radio">
							<input type="radio" name="public" id="public" value="private" {{ if not .Kartei.Public }}checked{{end}}> Privat
						</label>
					</div>
				</div>
			</div>

			<div class="field has-text-centered">
				<div class="col-sm-12">
					<input type="submit" class="yellow-button bt-button" value="Speichern und weiter" id="save">
				</div>
			</div>
		</form>
	</div>
	{{end}}
{{end}}