{{define "body"}}
	<h2 class="is-size-3">Lernen</h2>
	<p>Hier wird Dir zufällig eine Karte aus der gewählten Kartei angezeigt.</p>

	<div class="panel edit-form">
		<div class="columns is-vcentered is-multiline">
			<div class="column is-full-tablet 		is-one-fifth-desktop	is-one-fifth-widescreen">Name<br><strong>{{.Kartei.Title}}</strong></div>
			<div class="column is-full-tablet 		is-one-quarter-desktop	is-one-quarter-widescreen">Kategorie<br><strong>{{.Kartei.Category}}</strong></div>
			<div class="column is-one-third-tablet	is-one-fifth-desktop	is-one-fifth-widescreen">Fortschritt<br><strong>{{.Kartei.Progress}}%</strong></div>
			<div class="column">
				<div class="hex">
					<span class="text">{{.Kartei.CountKarten}}<br><span class="below">Karten</span></span>
				</div>
				<table id="leaderboard">
					<tr>
						<th>Wiederholung</th>
						<td>0</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<th>Anzahl</th>
						{{ range .Progress }}
						<td>{{.}}</td>
						{{ end }}
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="columns mx-0">
		<div class="column is-8 is-offset-2">
			<div class="panel">
				{{if .Info}}<p>{{.Info}}</p>{{end}}
				{{if .ShowLearnCard }}
				<form action="#" id="learning">
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="title" class="label">Titel</label>
						</div>
						<div class="field-body">
							<div class="field">
								{{ range .Trays }}
								<div class="hex no-subhead {{if eq . $.Karte.Tray }}passive{{end}}">
									<span class="text">{{.}}</span>
								</div>
								{{end}}
								<span class="is-size-4">{{.Karte.Title}}</span>
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label">
							<label for="question" class="label">Frage</label>
						</div>
						<div class="field-body">
							<div class="field">
								{{.Karte.Question}}
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label">
							<label for="answer" class="label">Antwort</label>
						</div>
						<div class="field-body" id="answer-wrapper">
							<a href="#" class="bt-button yellow-button show-unrevealed" id="answer-button">Aufdecken</a>
							<div class="field show-revealed" id="answer">
								{{.Karte.Answer}}
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-body show-unrevealed has-text-right" id="learn-skip">
							<a href="#" class="bt-button yellow-button bt-slim">Überspringen</a>
						</div>
						<div class="field-body show-revealed has-text-centered">
							<a href="/kartei/learn/{{.Kartei.Id}}?lastCardId={{.Karte.Id}}" class="bt-button pastellGreen-button">Richtig</a>
							<a href="/kartei/learn/{{.Kartei.Id}}?lastCardId={{.Karte.Id}}" class="bt-button red-button">Falsch</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="field is-horizontal clearfix"></div>
				</form>
				{{end}}
			</div>
		</div>
	</div>
{{end}}