{{define "body"}}
    <div class="columns">
        <div class="column is-8-desktop">
            {{if .Mine }}
            <h2 class="is-size-2">Meine Karteikästen</h2>
            <p class="lead">Hier findest Du Deine Karteien, sowie öffentliche Karteien, die du angefangen hast, zu lernen.</p>
            {{ else }}
            <h2 class="is-size-2">Karteikästen</h2>
            <p class="lead">Im Karteikasten findest Du alle öffentlichen Karteien.</p>
            {{ end }}
        </div>
        <div class="column is-4-desktop">
            <div class="columns is-mobile">
                {{if not .Mine}}
                <div class="column is-half-mobile is-half-tablet">
                    <div class="select"> <!-- Mogliches .is-loading für fancy spinner! -->
                        <select name="catFilter" id="catFilter">
                            <option default value="-1">Filtern nach...</option>
                            {{range .Schrank}}
                            <option value="cat-{{.CategoryId}}">{{.Category}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
                {{end}}
                <div class="column is-half-mobile is-half-tablet {{if .Mine}}is-offset-half{{end}}">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="search" placeholder="Suchen..">
                            <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{range .Schrank}}
{{ $schrank := . }}
<section id="cat-{{.CategoryId}}" class="cat-sections">
    <h3 class="is-size-3">{{.Category}}</h3>
    {{if not .Karteien }}
    <div class="column is-full">
        <p class="lead">Für diese Oberkategorie ist kein Karteikasten vorhanden.</p>
    </div>
    {{ else }}
    <div class="columns is-multiline">
        {{range .Karteien}}
        <div class="column is-one-quarter-desktop is-one-third-tablet">
            <div class="card kartei">
                <div class="card-image">
                    <div class="has-text-centered">{{.Category}}</div>
                </div>
                <div class="card-content">
                    <div class="hex">
                        <span class="text">{{.CountKarten}}<br /><span class="below">Karten</span></span>
                    </div>
                    <a href="/kartei/{{if $.Mine}}editKarten{{else}}view{{end}}/{{.Id}}">
                        <h4 class="is-size-5 is-text-bolder">{{.Title}}</h4>
                    </a>
                    <p>{{.Description}}</p>
                    {{ if or $.Mine $schrank.ShowExtended }}
                    <table class="statistics-table">
                        {{if $schrank.ShowExtended }}
                        <tr>
							<td>Sichtbarkeit:</td><th>{{if .Public }}Öffentlich{{else}}Privat{{end}}</th>
                        </tr>
                        {{end}}
						<tr>
							<td>Fortschritt:</td><th>{{.Progress}}%</th>
						</tr>
                    </table>
                    {{ end }}
                    <div class="button-wrapper">
                        {{ if $.Head.LoggedInStatus }}<a href="/kartei/learn/{{.Id}}" class="bt-button bt-slim yellow-button">Lernen</a>{{ end }}
                        {{ if $schrank.ShowExtended }}
                        <a href="/kartei/editKarten/{{.Id}}" class="bt-button pastellGreen-button bt-slim">Bearbeiten</a>
						<a href="#" class="delete-button" data-target="deleteModal-for-{{.Id}}"><img src="/static/images/Delete.svg" alt="Delete Button"></a>
                        <div class="modal" id="deleteModal-for-{{.Id}}">
                            <div class="modal-background delete-stay"></div>
                            <div class="modal-content">
                                <div class="panel">
                                    <h3 class="is-size-4">Löschen</h3>
                                    <p>Bist Du Dir sicher, dass Du diese Kartei <code>{{.Id}}</code> löschen möchtest?</p>
                                    <p class="has-text-centered">
                                        <a href="#" class="bt-button pastellGreen-button delete-stay" aria-label="close">Kartei behalten</a>
                                        <a href="/kartei/delete/{{.Id}}" class="bt-button red-button">Kartei löschen</a>
                                    </p>
                                    <p class="clearfix"></p>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{end}}
</section>
{{end}}
        
{{end}}