{{define "body"}}
	<h2 class="is-size-3">Karteikasten anschauen</h2>
	<p>Hier kannst Du Dir eine beliebige Kartei anschauen ohne sie zu bearbeiten.</p>

	<div class="panel edit-form">
		<div class="columns is-vcentered is-multiline">
			<div class="column is-full-tablet 		is-one-quarter-desktop	is-two-fifths-widescreen">Name<br><strong>{{.Kartei.Title}}</strong></div>
			<div class="column is-full-tablet 		is-one-quarter-desktop	is-one-fifth-widescreen">Kategorie<br><strong>{{.Kartei.Category}}</strong></div>
			<div class="column is-one-third-tablet	is-one-quarter-desktop	is-one-fifth-widescreen">Erstellt von<br><strong>{{.Kartei.OwnerName}}</strong></div>
			<div class="column is-two-thirds-tablet	is-one-quarter-desktop	is-one-fifth-widescreen">
				<div class="hex">
					<span class="text">{{.Kartei.CountKarten}}<br><span class="below">Karten</span></span>
				</div>
				Fortschritt<br><strong>{{.Kartei.Progress}}%</strong>
			</div>
		</div>
	</div>
	<div class="columns mx-0">
		{{ if not .Karten }}
		<div class="column"><p>Keine Karten und keine Möglichkeit, welche anzulegen.</p></div>
		{{ else }}
		<div class="column is-one-third">
			{{range $i, $k := .Karten }}
			<div class="panel {{if eq $k.Id $.ActiveKarteId}}is-active{{end}} card-chooser" data-id="{{$k.Id}}">
				<div class="is-family-monospace">#{{$i}}</div>
				<div class="is-size-4 has-text-weight-semibold">{{$k.Title}}</div>
				<!-- <div class="has-text-right">
					<a href="/kartei/editKarten/{{$k.Id}}" class="bt-button pastellGreen-button bt-slim">Bearbeiten</a>
					<a href="#" class="delete-button" data-target="deleteModal-{{$k.Id}}"><img src="/static/images/Delete.svg" alt="Delete Button"></a>
				</div>
				<div class="modal" id="deleteModal-{{$k.Id}}">
					<div class="modal-background delete-stay"></div>
					<div class="modal-content">
						<div class="panel">
							<h3 class="is-size-4">Löschen</h3>
							<p>Bist Du Dir sicher, dass Du diese Karte <code>{{$k.Id}}</code> löschen möchtest?</p>
							<p class="has-text-centered">
								<a href="#" class="bt-button pastellGreen-button delete-stay" aria-label="close">Karte behalten</a>
								<a href="#" class="bt-button red-button">Karte löschen</a>
							</p>
							<p class="clearfix"></p>
						</div>
					</div>
				</div> -->
			</div>
			{{end}}
		</div>
		<div class="column is-two-thirds">
			{{range $i, $k := .Karten }}
			<div class="panel {{if eq $k.Id $.ActiveKarteId}}is-active{{end}} card-detail" id="{{$k.Id}}">
				<form action="#">
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="title" class="label">Titel</label>
						</div>
						<div class="field-body">
							<div class="field">
								{{ range $.Trays }}
								<div class="hex no-subhead {{if eq . $k.Tray }}passive{{end}}">
									<span class="text">{{.}}</span>
								</div>
								{{end}}
								
								<span class="is-size-4">{{$k.Title}}</span>
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label">
							<label for="question" class="label">Frage</label>
						</div>
						<div class="field-body">
							<div class="field">
								{{$k.Question}}
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label">
							<label for="answer" class="label">Antwort</label>
						</div>
						<div class="field-body">
							<div class="field">
								{{$k.Answer}}
							</div>
						</div>
					</div>
				</form>
			</div>
			{{end}}
		</div>
		{{ end }} <!-- { if eq 0 len(.Karten) } -->
	</div>
{{end}}